* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
        ),
        url("images/laptop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #faf8f8;

}



/*  SIDEBAR  */

.sidebar {
    position: fixed;

    left: 0;
    top: 0;

    width: 245px;
    height: 100vh;

    background: #f7f8fa;

    border-right: 1px solid #e5e5e5;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 25px 20px;

    z-index: 1000;
}


/*  PROFILE  */

.profile {
    text-align: center;
}


.profile-img {
    width: 100px;
    height: 100px;

    border-radius: 60%;

    object-fit: cover;

    border: 4px solid white;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.15);

    display: block;

    margin: 0 auto 15px;
}


.profile h2 {
    font-size: 20px;
    margin-bottom: 8px;
}


.role {
    color: #1769ff;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 0.5px;
}


.location {
    font-size: 12px;

    color: #888;

    margin-top: 7px;
}


/*  NAVIGATION  */

.navigation {
    width: 100%;

    margin-top: 28px;

    display: flex;

    flex-direction: column;

    align-items: center;
}


.navigation a {
    width: 100%;

    max-width: 130px;

    text-decoration: none;

    color: #555;

    font-size: 14px;

    padding: 9px 12px;

    margin: 2px 0;

    border-radius: 6px;

    text-align: center;

    transition: 0.3s;
}


.navigation a i {
    display: none;
}


.navigation a:hover,
.navigation a.active {
    background: #e8f0ff;

    color: #1769ff;
}


/*  DARK BUTTON  */

.dark-btn {
    margin-top: auto;

    border: 1px solid #e5e5e5;

    background: white;

    padding: 9px 18px;

    border-radius: 25px;

    cursor: pointer;

    font-size: 13px;

    transition: 0.3s;
}


.dark-btn:hover {
    background: #eeeeee;
}


/*  SIDEBAR FOOTER  */

.sidebar-footer {
    text-align: center;

    color: #888;

    font-size: 10px;

    line-height: 1.5;

    margin-top: 20px;
}


/*  MAIN  */

.main-content {
    margin-left: 245px;
}


/*  HERO  */

.hero {
    min-height: 100vh;

    position: relative;

    overflow: hidden;

    display: flex;

    align-items: center;

    padding: 80px 10%;
}


.hero-content {
    width: 52%;

    position: relative;

    z-index: 2;
}


.hello {
    color: #2276fe;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 15px;
}


.hero h1 {
    font-size: clamp(50px, 6vw, 90px);

    line-height: 0.95;

    margin-bottom: 25px;
}


.hero h1 span {
    color: #1e74fe;
}


.hero h2 {
    font-size: 24px;

    font-weight: 400;

    margin-bottom: 20px;

    color: white;
}


.description {
    color: white;

    line-height: 1.7;

    max-width: 520px;

    margin-bottom: 30px;

    font-size: 16px;
}



/*  BUTTONS  */

.buttons {
    display: flex;

    gap: 12px;

    flex-wrap: wrap;
}


.btn {
    display: inline-flex;

    align-items: center;

    gap: 10px;

    padding: 13px 22px;

    border-radius: 5px;

    text-decoration: none;

    font-size: 14px;

    transition: 0.3s;
}


.port {
    background: #1769ff;

    color: white;
}


.port:hover {
    background: #0052d9;

    transform: translateY(-2px);
}


.cont {
    color: white;

    border: 1px solid #ddd;
}


.cont:hover {
    border-color: #1769ff;

    color: #1769ff;
}


/*  SECTIONS  */

.section {
    min-height: 80vh;

    padding: 100px 10%;

    border-top: 1px solid #eeeeee;
}


.section-about {
    

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 10px;
}


.section h2 {
    font-size: 42px;

    margin-bottom: 30px;
}


.section h2 span {
    color: #1769ff;
}


.section > p:not(.section-small) {
    max-width: 750px;

    color: white;

    line-height: 1.8;

    margin-bottom: 15px;
}


/*  CARDS  */

.cards {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;

    margin-top: 40px;
}


.card {
    padding: 35px 25px;

    border: 1px solid #eeeeee;

    border-radius: 10px;

    transition: 0.3s;

    
}


.card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.08);
}


.card i {
    font-size: 35px;

    color: #1769ff;

    margin-bottom: 20px;
}


.card h3 {
    margin-bottom: 12px;
}


.card p {
    color: white;

    line-height: 1.6;

    font-size: 14px;
}


/*  SKILLS  */

.skills {
    max-width: 750px;

    margin-top: 40px;
}


.skill {
    margin-bottom: 25px;
}


.skill-title {
    display: flex;

    justify-content: space-between;

    margin-bottom: 8px;

    font-size: 14px;
}


.progress {
    width: 100%;

    height: 7px;

    background: #eeeeee;

    border-radius: 10px;

    overflow: hidden;
}


.progress div {
    height: 100%;

    background: #1769ff;

    border-radius: 10px;
}


/*  TIMELINE  */

.timeline-item {
    border-left: 3px solid #1769ff;

    padding-left: 25px;

    margin-top: 40px;
}


.timeline-item span {
    color: #1769ff;

    font-size: 13px;

    font-weight: bold;
}


.timeline-item h3 {
    margin: 10px 0;
}


.timeline-item p {
    color: white;

    line-height: 1.7;
}


/*  EXPERIENCE  */

.experience-box {
    max-width: 700px;

    padding: 30px;

    border: 1px solid #eee;

    border-radius: 10px;

    margin-top: 35px;

    transition: 0.3s;
}

.experience-box:hover{
    transform: translateY(-8px);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.08);
}


.experience-box h3 {
    margin-bottom: 10px;
}


.experience-box p {
    color: white;

    line-height: 1.7;

    margin-top: 8px;
}


/*  PROJECTS  */

.project-grid {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;

    margin-top: 40px;
}


.project {
    border: 1px solid #eee;

    border-radius: 10px;

    overflow: hidden;

    

    transition: 0.3s;
}


.project:hover {
    transform: translateY(-7px);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.08);
}


.project-image {
    height: 170px;

    background: #f2f5fa;

    display: flex;

    align-items: center;

    justify-content: center;
}


.project-image i {
    font-size: 55px;

    color: #1769ff;
}


.project-content {
    padding: 22px;
}


.project-content h3 {
    margin-bottom: 10px;
}


.project-content p {
    color: white;

    font-size: 14px;

    line-height: 1.6;

    margin-bottom: 15px;
}


.project-content span {
    color: #1769ff;

    font-size: 12px;

    font-weight: bold;
}


/*  CONTACT  */

.contact-info {
    margin-top: 30px;
}


.contact-info p {
    margin: 15px 0;

    color: white;
}

.contact-info a{
    text-decoration: none;
    color: white;
}


.contact-info b {
    width: 25px;

    color: #1769ff;
}


/*  DARK MODE  */

body.dark {
    background: #111827;

    color: #eee;
}


body.dark .sidebar {
    background: #151c2b;

    border-color: #293241;
}


body.dark .navigation a {
    color: #bbb;
}


body.dark .navigation a:hover,
body.dark .navigation a.active {
    background: #1e3a6f;

    color: #5b9aff;
}


body.dark .dark-btn {
    background: #1f2937;

    color: white;

    border-color: #374151;
}


body.dark .section {
    border-color: #293241;
}


body.dark .section > p:not(.section-small),
body.dark .description,
body.dark .card p,
body.dark .timeline-item p,
body.dark .experience-box p,
body.dark .project-content p {
    color: #aaa;
}


body.dark .card,
body.dark .project,
body.dark .experience-box {
    background: #151c2b;

    border-color: #293241;
}


body.dark .secondary {
    color: white;

    border-color: #444;
}


/*  RESPONSIVE  */

@media (max-width: 1000px) {

    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }

    .hero {
        padding: 70px 6%;
    }

    .hero-content {
        width: 60%;
    }

    .hero-image {
        width: 55%;
    }

    .cards,
    .project-grid {
        grid-template-columns: 1fr;
    }
}


/*  MOBILE  */

@media (max-width: 700px) {

    .sidebar {
        position: relative;

        width: 100%;

        height: auto;

        padding: 25px 15px;
    }


    .navigation {
        flex-direction: row;

        flex-wrap: wrap;

        justify-content: center;

        margin-top: 20px;
    }


    .navigation a {
        width: auto;

        padding: 8px 12px;
    }


    .sidebar-footer {
        display: none;
    }


    .dark-btn {
        margin-top: 15px;
    }


    .main-content {
        margin-left: 0;
    }


    .hero {
        min-height: 750px;

        padding: 70px 25px;

        align-items: flex-start;
    }


    .hero-content {
        width: 100%;

        text-align: center;
    }


    .hero h1 {
        font-size: 55px;
    }


    .description {
        margin-left: auto;

        margin-right: auto;
    }


    .buttons {
        justify-content: center;
    }


    .hero-image {
        width: 100%;

        height: 55%;

        opacity: 0.25;

        pointer-events: none;
    }


    .section {
        padding: 70px 25px;
    }


    .section h2 {
        font-size: 35px;
    }
}